[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "deps/entt"]
	path = deps/entt
	url = https://github.com/skypjack/entt.git
[submodule "deps/SDL_Image"]
	path = deps/SDL_Image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
